.navbar{
    background:#111;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.navbar .logo{
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:#d40000;
}

.sidebar{
    width:220px;
    background:#222;
    color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.sidebar a:hover{
    color:#d40000;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}
