.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:50px;
    color:#d40000;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}
